<!DOCTYPE html>
<html>
<head>
    @using Microsoft.AspNet.Identity;
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("customcss", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-8">
                
            </div>
            <div class="col-md-4">

                <div class="navbar-header">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.Name
                            @if (@ViewBag.Avatar == null)
                            {
                                <img style='width:25px; height:25px; object-fit:cover; border-radius:100px' name="avatar" src='~/Image/avatar.png' />
                            }
                            else
                            {
                                @Html.Raw("<img style='width:25px; height:25px; object-fit:cover; border-radius:100px' name='avatar' src=\"data:image/png;base64," 
                                          + Convert.ToBase64String(@ViewBag.Avatar) + "\" />")}

                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/Social/Profile">Профиль</a>
                            <a class="dropdown-item" href="/Social/People">Люди</a>
                            <a class="dropdown-item" href="/Social/Friends">Друзья</a>
                            <a class="dropdown-item" href="/Account/Logout">Выйти</a>

                        </div>
                    </div>
                </div>

            </div> 
        
        </div>
    </div>
<div class="container body-content">
    
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/popper")
                       
@RenderSection("scripts", required: false)
</body>
</html>
