@using Microsoft.AspNet.Identity
@model IEnumerable<SmlGround.Models.MessageViewModel>
@{
    ViewBag.Title = "Dialog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="chatBody">
    <div id="header"><h2>@ViewBag.RecieverName</h2></div>
    <div class="row">
        <div class="offset-2 col-6 mb-3" style="overflow: auto; height: 400px; background-color: wheat;" id="chat">
            @foreach (var item in Model)
            {
                if (HttpContext.Current.User.Identity.GetUserId() == item.SenderId)
                {
                    <p align="right"><sub>@item.CreationTime</sub><b>@item.Text</b></p>
                }
                else
                {
                    <p><b>@item.Text</b><sub>@item.CreationTime</sub></p>
                }

            }
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-6">
            <div id="inputForm">
                <input type="text" id="@ViewBag.RecieverId" />
                <input type="button" id="sendMessage" value="Отправить" />
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector("input#sendMessage[type=button]").addEventListener('click', function () {
        $.ajax({
            url: "/Social/SendMessage",
            data: {
                message: document.querySelector("input[type=text]").value,
                id: document.querySelector("input[type=text]").id

            },
            dataType: "json",
            type: "post",
            success: function Response(data) {
                var p = document.createElement('p');
                //var mess = JSON.parse(data);
                p.style.textAlign = "right";
                p.innerHTML = "<sub>" + new Date(parseInt(data.CreationTime.replace('/Date(', ''))).toLocaleDateString() + " " + new Date(parseInt(data.CreationTime.replace('/Date(', ''))).toLocaleTimeString() + "</sub>" + "<b>" + data.Text + "</b>";

                document.querySelector("div#chat").appendChild(p);
            },
            error: function Response(data) {
                alert("Ну, попробуй ещё раз");
            }
        });
    }, false);
</script>
<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
            var chat = $.connection.chatHub;
            chat.client.addMessage = function (text, date) {
                // Добавление сообщений на веб-страницу
                alert("У вас новое сообщение");
                var p = document.createElement('p');
                //var mess = JSON.parse(data);
                p.innerHTML = "<b>" + text + "</b>" + "<sub>" + new Date(parseInt(date)).toLocaleDateString() + " " + new Date(parseInt(date)).toLocaleTimeString() + "</sub>";

                document.querySelector("div#chat").appendChild(p);

            };
            $.connection.hub.start().done(function () {

                $('#sendMessage').click(function () {
                    // Вызываем у хаба метод Send
                    chat.server.send(document.querySelector("input[type=text]").value, Date.now());
                    
                    
                });
            });

    </script>
}

