@model IEnumerable<SmlGround.Models.ProfileViewModel>
<ul id="users" class="list-group">
    <li href="#" class="list-group-item title">
        All people
    </li>
    @foreach (var item in Model)
    {
        <li href="#" class="list-group-item text-left">
            @if (item.Avatar == null)
            {
                <img width="100" name="avatar" src='~/Image/avatar.png' />
            }
            else
            {
                @Html.Raw("<img width='100px' name='avatar' src=\"data:image/png;base64,"
                          + Convert.ToBase64String(item.Avatar) + "\" />")
            }
            <label class="name">
                @item.Name @item.Surname
            </label>
            <label class="pull-right">
                <a class="btn btn-success btn-xs glyphicon glyphicon-ok" href="/Social/Profile/@item.Id" title="Профиль"></a>
                
               <button type="button" id="@item.Id" class="btn btn-danger delete-friend btn-xs glyphicon glyphicon-trash" title="Удалить из друзей"></button>
                
                <button type="button" id="@item.Id" class="btn btn-info send-message btn-xs glyphicon glyphicon glyphicon-comment" title="Написать"></button>
            </label>
            <div class="break"></div>
        </li>
    }
</ul>