@using Common.Enum
@model SmlGround.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}

@section customcss {
    <link rel="stylesheet" href="~/Content/profile.css" />
}

<div class="container emp-profile">
    <form action="/Social/Profile/Edit" method="get">
        <input type="hidden" value="@Model.Id" name="Id">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    @if (Model.Avatar == null)
                    {
                        <img name="avatar" src='~/Image/avatar.png' />
                    }
                    else
                    {
                        @Html.Raw("<img name='avatar' src=\"data:image/png;base64,"
                                  + Convert.ToBase64String(Model.Avatar) + "\" />")
                    }
                    @if (Model.IsCurrentUserProfile)
                    {
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input id="uploadImage" type="file" name="uploadImage" />
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        @Html.DisplayFor(x => x.Name) @Html.DisplayFor(x => x.Surname)
                    </h5>
                    <p>
                        <label for="Birthday">День рождения</label>
                        <span>
                            @Html.DisplayFor(x => x.Birthday)
                        </span>
                    </p>
                </div>
            </div>
            @if (Model.IsCurrentUserProfile)
            {
                <div class="col-md-2">
                    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { htmlAttributes = new { @class = "profile-edit-btn" } })
                </div>
            }
            else
            {
                if (Model.FriendFlag == FriendStatus.None)
                {
                    <div id="friendship" class="col-md-3">
                        <button type="button" id="@Model.Id" class="btn btn-primary add-friend" title="Добавить в друзья">Добавить в друзья</button>
                    </div>
                }
                else if (Model.FriendFlag == FriendStatus.Subscriber)
                {
                    <div id="friendship" class="col-md-3">
                        <button type="button" id="@Model.Id" class="btn btn-warning reject-friend" title="Отменить заявку">Отменить заявку</button>
                    </div>
                }
                else if (Model.FriendFlag == FriendStatus.Signed)
                {
                    <div id="friendship" class="col-md-3">
                        <button type="button" id="@Model.Id" class="btn btn-success approve-friend" title="Принять заявку">Принять заявку</button>
                    </div>
                }
                else
                {
                    <div id="friendship" class="col-md-3">
                        <button type="button" id="@Model.Id" class="btn btn-danger delete-friend" title="Удалить из друзей">Удалить из друзей</button>                         
                    </div>
                }
                //add button add/remove friend
            }
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">About</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">

                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                                <label for="Password">Город</label>
                                @Html.DisplayFor(x => x.City)
                                <br />


                                <label for="Password">Место учёбы</label>
                                @Html.DisplayFor(x => x.PlaceOfStudy)
                                <br />

                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                                <label for="PasswordConfirm">Skype</label>
                                @Html.DisplayFor(x => x.Skype)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@if (ViewBag.Success != null)
{
    <script>alert("@ViewBag.Success");</script>
}
@Scripts.Render("~/bundles/profile")